{%- assign p = product -%}
<a class="card" href="{{ p.url }}">
  <div class="card__media">
    {% if p.featured_image %}
      <img loading="lazy" src="{{ p.featured_image | image_url: width: 700 }}" alt="{{ p.title | escape }}">
    {% else %}
      <div class="ph"></div>
    {% endif %}
    {% if p.compare_at_price > p.price %}
      <span class="badge badge--sale">Sale</span>
    {% endif %}
  </div>
  <div class="card__info">
    <h3 class="card__title">{{ p.title }}</h3>
    <div class="card__price">{% render 'price', product: p %}</div>
  </div>
</a>
