<article class="card-product">
  <a href="{{ product.url }}">
    {% if product.featured_image %}
      <img src="{{ product.featured_image | image_url: width: 800 }}" alt="{{ product.featured_image.alt | default: product.title | escape }}">
    {% endif %}
    <h3 class="card-product__title">{{ product.title }}</h3>
    <div class="card-product__price">
      {% render 'price', product: product %}
    </div>
  </a>
</article>
