<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{{ page_title | default: shop.name }}</title>
<meta name="description" content="{{ shop.meta_description }}">
<link rel="icon" href="{{ 'favicon.ico' | asset_url }}">
