<div class="cookie-consent" data-cookie-consent hidden>
  <div class="cookie-inner">
    <p>{{ 'general.cookies.message' | t }}</p>
    <button class="btn" data-cookie-accept>{{ 'general.cookies.accept' | t }}</button>
  </div>
</div>
{% schema %}{ "name":"Cookie consent","settings":[] }{% endschema %}
