<section class="container">
  <h1>{{ section.settings.title }}</h1>
  <table>
    <tr><th>Maat</th><th>Borst</th><th>Taille</th><th>Heup</th></tr>
    <tr><td>S</td><td>86-90</td><td>68-72</td><td>92-96</td></tr>
    <tr><td>M</td><td>90-94</td><td>72-76</td><td>96-100</td></tr>
    <tr><td>L</td><td>94-98</td><td>76-80</td><td>100-104</td></tr>
  </table>
</section>
{% schema %}{ "name":"Size guide","settings":[{"type":"text","id":"title","label":"Title","default":"Maattabel"}] }{% endschema %}
