<h1>Reset password</h1>
{% form 'reset_customer_password' %}
  <input type="password" name="customer[password]" placeholder="New password">
  <input type="password" name="customer[password_confirmation]" placeholder="Confirm new password">
  <button class="btn btn--primary">Reset</button>
{% endform %}
